/* :root{
    --light-black: #212121;
    --dark-beige: #D7B398;
} */

/*basic styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:  
    "header"
    "main"
    "footer";
    max-width: 150rem;
    margin: 0 auto;
    background-color: #ffffff;
}

header{
    grid-area: grid;
    position: fixed;
    width: 100%;
    z-index: 10;
}

main{
    grid-area: main;
    margin-top: 7rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-area: footer;
    padding: 2rem 0;
    margin-top: 2rem;
    min-height: 10rem;
    background-color: #2C2E3C;
}


/*Header styles*/
#header_container{
    grid-area: header;
    width: 100%;
    min-height: 7rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #2C2E3C;
}

#name{
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5rem;
    color: #5E9FAB;
}

#name span{
    color: #EF2F5C;
}

#home_icon, #menu_icon, #close_circle{
    display: block;
    width: 4rem;
}

#close_circle, .movil_menu_item{
    font-size: 1.6rem;
}

.dropDown_menu_item{
    display: inline-block;
    margin-left: 4rem;
}

.movil_menu_item{
    position: relative;
    list-style: none;
    width: 100%;
    padding-left: 3rem;
}

.dropDown_menu_item{
    list-style: none;
    font-size: 1.6rem;
}

.movil_menu_item a{
    display: inline-block;
    color: #5f727f;
    line-height: 2rem;
    padding: 1rem 0;
}

.dropDown_menu_item a{
    display: inline-block;
    color: #ffffff;
    line-height: 2rem;
    padding: 0.3rem 0;
}

#movil_menu{
    position: absolute;
    top: 7rem;
    left: 0;
    display: none;
    width: 25rem;
    padding-bottom: 1rem;
    background-color: #dfe5e8;
    
}

#dropDown_menu{
    display: none;
}

#movil_menu > li:first-child{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;
}

#start_item{
    border-bottom: 2px solid #EF2F5C;
}

/*Main styles*/
#main_images_container{
    position: relative;
    width: 100%;
    height: 24.8rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.main_image{
    width: 100%;
}

.arrow_icon{
    width: 4rem;
    position: absolute;
    background-color: rgba(94, 159, 171, 0.3);
}

#arrow_icon_left{
    top: calc(50% - 2rem);
    left: 1rem;
}

#arrow_icon_right{
    top: calc(50% - 2rem);
    right: 1rem;
}

#selection_circles{
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 5rem);
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selction_circle{
    width: 2rem;
}

h1{
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 7rem;
    color: #3c3950;
    text-align: center;
    padding: 0 1rem;
}

h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    color: #3c3950;
    text-align: center;
    padding: 0 1rem;
}

#recien_llegando_images{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recien_llegando_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 32rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recien_llegando_card img{
    width: 30rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.product_card_info{
    width: 100%;
    font-size: 1.6rem;
}

.product_name, .product_description, .product_price{
    color: #5E9FAB;
    font-weight: bold;
    margin-bottom: 1rem;
}

.product_price{
    font-size: 2rem;
    text-align: center;
    color: #EF2F5C;
}

.product_description{
    margin-bottom: 3rem;
}

.product_name{
    text-align: center;
    font-size: 2rem;
}

.product_name span, .product_description span{
    color: #2C2E3C;
}

#new_product{
    width: 13rem;
    margin-bottom: 3rem;
}


/*Footer styles*/
#socialMedia_icons{
    display: flex;
    justify-content: space-around;
    width: 40rem;
    margin-bottom: 5rem;
}

#socialMedia_icons img{
    width: 4rem;
}

#credits{
    font-size: 1.4rem;
    color: #ffffff;
}

#credits a{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
}

#credits p{
    text-align: center;
    line-height: 1.68rem;
}

footer p:nth-child(2){
    margin-bottom: 1rem;
}

#socialMedia_title{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #ffffff;
}

#whatsapp_icon{    
    position: fixed;
    top: 80px;
    right: 10px;
    z-index: 9;
}

#whatsapp_icon img{
    width: 6rem;
}


/*product styles*/

.product_images{
    width: 100%;
    margin: 3rem 0 5rem 0;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.small_images{
    display: flex;
    flex-direction: column;
    width: 10%;
    overflow: hidden;
}

#bigImage_container{
    position: relative;
}

.big_image{
    width: 88%;
    overflow: hidden;
}

#product_arrow_icon_left, #product_arrow_icon_right{
    width: 3rem;
    position: absolute;
    background-color: rgba(94, 159, 171, 0.3);
}

#product_arrow_icon_left{
    top: calc(50% - 1.5rem);
    left: 1rem;
}

#product_arrow_icon_right{
    top: calc(50% - 1.5rem);
    right: 1rem;
}

.small_images img{
    width: 100%;
    margin-bottom: 1rem;
}

.big_image img{
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: pink; */
}

.product_info h1{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.product_info p{
    font-size: 1.5rem;
    line-height: 1.68rem;
    padding: 0 0.8rem;
    margin-bottom: 2rem;
}

#product_info_price{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #EF2F5C;
    margin-bottom: 10rem;
}

.big_image p{
    text-align: center;
    font-size: 1.4rem;
}

#comming_soon{
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

#product_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#size_largeScreen{
    display: none;
    align-items: center;
}

#size_smallScreen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.size span{
    background-color: #5E9FAB;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #ffffff;
}
