/* :root{
    --light-black: #212121;
    --dark-beige: #D7B398;
} */

/*basic styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:  
    "header"
    "main"
    "footer";
    max-width: 150rem;
    margin: 0 auto;
    background-color: #ffffff;
}

header{
    position: fixed;
    width: 100%;
}

/* nav{
 
    
} */


/*Header styles*/
#header_container{
    grid-area: header;
    width: 100%;
    min-height: 7rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #2C2E3C;
}

#name{
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5rem;
    color: #5E9FAB;
}

#name span{
    color: #EF2F5C;
}

#home_icon, #menu_icon, #close_circle{
    display: block;
    width: 4rem;
}

#close_circle, .movil_menu_item{
    font-size: 1.6rem;
}

.dropDown_menu_item{
    display: inline-block;
    margin-left: 4rem;
}

.movil_menu_item{
    position: relative;
    list-style: none;
    width: 100%;
    padding-left: 3rem;
}

.dropDown_menu_item{
    list-style: none;
    font-size: 1.6rem;
}

.movil_menu_item a{
    display: inline-block;
    color: #5f727f;
    line-height: 2rem;
    padding: 1rem 0;
}

.dropDown_menu_item a{
    display: inline-block;
    color: #ffffff;
    line-height: 2rem;
    padding: 1rem 0;
}

#movil_menu{
    position: absolute;
    top: 7rem;
    left: 0;
    display: none;
    width: 35rem;
    padding-bottom: 1rem;
    background-color: #dfe5e8;
}

#dropDown_menu{
    display: none;
}

#movil_menu > li:first-child{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;
}
