#dropDown_menu{
    display: none;
}

#main_images_container{
    height: 46rem;
    overflow: hidden;
}

#new_product{
    width: 19rem;
    height: 18.34rem;
}

.recien_llegando_card{
    width: 30rem;
}

.recien_llegando_card img{
    width: 28rem;
    height: 37.29rem;
}

.big_image{
    width: 70%;
    margin-left: 2rem;
}

.product_images{
    justify-content: center;
}

#comming_soon{
    width: 80%;
}

.product_info{
    width: 80%;
}

/* #up{
   top: 70rem;
} */